<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gift.baseinfo.main.mapper.GiftsInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gift.baseinfo.main.entity.GiftsInfo">
        <id column="id" property="id" />
        <result column="gift_no" property="giftNo" />
        <result column="gift_count" property="giftCount" />
        <result column="name_chs" property="nameChs" />
        <result column="name_en" property="nameEn" />
        <result column="gift_value" property="giftValue" />
        <result column="gift_specs" property="giftSpecs" />
        <result column="gift_detail" property="giftDetail" />
        <result column="gift_tips" property="giftTips" />
        <result column="gift_images" property="giftImages" />
        <result column="gift_preimg" property="giftPreimg" />
        <result column="createtime" property="createtime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, gift_no, gift_count, name_chs, name_en, gift_value, gift_specs, gift_detail, gift_tips, gift_images, gift_preimg, createtime
    </sql>

</mapper>
