<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gift.baseinfo.main.mapper.ExchangeRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gift.baseinfo.main.entity.ExchangeRecord">
        <id column="id" property="id" />
        <result column="good_id" property="goodId" />
        <result column="ticket_no" property="ticketNo" />
        <result column="gift_value" property="giftValue" />
        <result column="username" property="username" />
        <result column="tel" property="tel" />
        <result column="address" property="address" />
        <result column="remark" property="remark" />
        <result column="createtime" property="createtime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, good_id, ticket_no, gift_value, username, tel, address, remark, createtime
    </sql>

</mapper>
