<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gift.baseinfo.main.mapper.FilemanageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gift.baseinfo.main.entity.Filemanage">
        <id column="id" property="id" />
        <result column="filePath" property="filepath" />
        <result column="fileName" property="filename" />
        <result column="size" property="size" />
        <result column="type" property="type" />
        <result column="model" property="model" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, filePath, fileName, size, type, model, create_time
    </sql>

</mapper>
